@media (max-width: 576px) {
  .box{
    z-index: 10;
  }

  .menu {
    min-width: 12rem;
  }
}

@media (max-width: 768px) { 
  .boxsContainer{
    flex-direction: column !important;
    justify-content: start !important;
    align-items: center;
  }

  .box{
    --b--height: calc(45vh - 8rem);
    --b--width: calc(var(--b--height)/0.78);
    width: var(--b--width) !important;
    height: var(--b--height) !important;
    margin: 2rem 0 2rem 0 !important;
    top: 0 !important;
  }

  .subDiv{
    height: 50%;
    width: 100vw !important;
  }

  .carousel-indicators{
    display: none;
  }

 }


body{
  height: 100vh;
  background-color: #0D1F2D;
}

canvas, video{
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  position: absolute !important;
  top: 0.5rem !important;
  left: 0.5rem !important;
}

h1, h2{
  color: #ffffff;
}

#collapseWidthExample{
  position: relative;
  bottom: 6rem;
}

#home{
  color: #4a9d9c;
  text-decoration: none;
}

#home:hover{
  color: #afffff;
}

#abcLg{
  position: absolute;
  top: calc(50% - 8.5rem);
  left: calc(50vw - 8rem);
  z-index: 50;
}

#lg{
  background-color: #354656;
  border-color: #354656;
  color: #e0e0e0;
}

#aLg{
  max-width: 10rem;
}

.title{
  font-size: 3rem;
}

.subtitle{
  font-size: 1rem;
}

.carousel-indicators{
  bottom: -1rem;
}

.start-btn{
  position: fixed;
  bottom: 0;
  left: calc(50% - 3.28rem);
  margin-bottom: 1.5rem;
  background-color: #0D1F2D;
  border: 2px solid #FF3D3D;
  max-width: fit-content;
}

.start-btn:hover{
  background-color: #1d2e3d;
  border: 2px solid #FF3D3D;
}

.carousel-caption{
  position: unset !important;
}

.active{
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start{
  color: #FF3D3D;
  text-decoration: none;
}

.dropdown-menu{
  position: absolute;
  left: -6.5rem !important;
  background-color: #354656;
}

.dropdown-item{
  color: #e0e0e0;
}

.boxsContainer{
  height: 90%;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4rem;
}

.hiden{
  display: none;
}

.subDiv{
  width: 50vw;
}

.abc{
  z-index: 100;
}

#abc{
  position: absolute;
  left: 0;
  z-index: 50;
  max-width: 4.4rem;
  max-height: 90%;
  overflow-y: scroll;
  background-color: #0D1F2D;
  padding: 0 0.1rem 0 0.1rem;
}

.card-cont{
  position: absolute;
  top: -12.5rem;
  left: calc(50% - 9.375rem);
}

.card-body{
  background-color: #0D1F2D;
  border: 2px solid #4a9d9c;
  color: #ffffff;
}

.box{
  --b-width: calc(100vw / 2 - 4rem);
  --b-height: calc(var(--b-width) / 1.32);
  width: var(--b-width);
  height: var(--b-height);
  margin: 10vh 1rem 3rem 1rem;
  position: relative;
  top: calc(35% - (var(--b-height) / 2));
  background-color: #1d2e3d;
  border: 2px solid #4a9d9c;
}

.menu{
  max-width: 25rem;
  background-color: #1d2e3d;
  border: 2px solid #afffff; 
  border-radius: 30px;
}

.inst{
  background-color: #0D1F2D;
  border: 0.1px solid #afffff;
  color: #ffe0c8;
}

.navbar{
  background-color: #1d2e3d !important;
  border-top: 2px solid #afffff;
  border-bottom: 2px solid #afffff;
}

.container{
    height: 100%;
}

.padding{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

video {
  display: block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  }
  
.videoView p,
.detectOnClick p {
  color: #000000;
  z-index: 2;
}

.output_canvas {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.output {
  display: none;
  width: 100%;
  overflow: auto;
  max-height: -webkit-fill-available;
  color:#ffffff;
}


::-webkit-scrollbar {
  width: 3px;
}


::-webkit-scrollbar-track {
  background: #afffff;
}


::-webkit-scrollbar-thumb {
  background: #FF3D3D;
}


::-webkit-scrollbar-thumb:hover {
  background: #ff5050;
}