.card-cont{
    position: absolute;
    top: -12.5rem;
    left: 50% - 6.25rem;
}

.box{
    width: 35rem;
    height: 27.5rem;
    margin: 3rem 1rem 0 0;
}

.container{
    height: 100%;
}


video {
    display: block;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
  }
  
  .videoView p,
  .detectOnClick p {
    color: #000000;
    z-index: 2;
  }
  
  .output_canvas {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
  }
  .output {
    display: none;
    width: 100%;
    font-size: calc(8px + 1.2vw);
  }