<!DOCTYPE html>

<html lang="es">  
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SLT</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <link href="/static/styles.css" rel="stylesheet">
        <script type="module" src="static/script.js"></script>
        
    </head>
    <body class="d-flex flex-column"> 
      <nav class="navbar navbar-expand-lg justify-content-between bg-body-tertiary padding">
        <a href="/"><img src="static/icons/LogoLSAred.svg" class="d-block" alt="Traductor LSA" style="max-width: 7rem;"></a>
        <div class="dropdown">
          <form action="/" method = "post">
            <button id="lg" class="btn btn-secondary dropdown-toggle" type="submit" data-bs-toggle="dropdown" aria-expanded="false">{{ idiom }}</button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li class="dropdown-item"><a onclick="document.getElementById('selectedIdiom').value='es'; document.forms[0].submit();">Español (es)</a></li>
              <li><hr class="dropdown-divider"></li>
              <li class="dropdown-item"><a onclick="document.getElementById('selectedIdiom').value='en'; document.forms[0].submit();">English (en)</a></li>
            </ul>
            <input type="hidden" id="selectedIdiom" name="selectedIdiom">
          </form>
        </div>
      </nav>
        <div class="d-flex padding boxsContainer">
            <div class="d-flex justify-content-center align-items-center subDiv">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <svg class="abc" width="90%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <image href="static/icons/LogoLSAblue.svg" x="10" y="-0" width="100%"></image>
                    </svg>
                    <br><br>
                    {% if idiom == 'es' %}
                      <h2 class="subtitle carousel-caption">Traductor de Lenguaje de Señas Argentino mediante deletreo</h2>
                    {% elif idiom == 'en' %}
                      <h2 class="subtitle carousel-caption">Argentinian Sign Lenguage Translator through fingerspelling</h2>
                    {% endif %}
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center subDiv">
                <div id="carouselExampleCaptions" class="carousel slide">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="static/instructions/bar.png" class="d-block w-75" alt="...">
                        <div class="carousel-caption d-block">
                          {% if idiom == 'es' %}
                          <h5>Menú</h5>
                          <p>contiene el botón de inicio, ayuda y acceso al señario.</p>
                          {% elif idiom == 'en' %}
                          <h5>Menu</h5>
                          <p>It contains the start, help and access to sign images buttons.</p>
                          {% endif %}
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="static/instructions/handGestures.png" class="d-block w-75" alt="...">
                        <div class="carousel-caption d-block">
                          {% if idiom == 'es' %}
                          <h5>Agrandar imagen de una seña</h5>
                          <p>haga click o coloque el puntero del mouse sobre la misma.</p>
                          {% elif idiom == 'en' %}
                          <h5>Enlarge a sign image</h5>
                          <p>click or hover your mouse pointer over the image.</p>
                          {% endif %}
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="static/instructions/virtualBttns.png" class="d-block w-75" alt="...">
                        <div class="carousel-caption d-block">
                          {% if idiom == 'es' %}
                          <h5>Borrar o agregar un espacio</h5>
                          <p>coloque el dedo índice dentro del botón correspondiente.</p>
                          {% elif idiom == 'en' %}
                          <h5>To delete a letter or add a space</h5>
                          <p>place your index finger on the corresponding button.</p>
                          {% endif %}
                        </div>
                      </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
        <button class="btn btn-secondary start-btn"><a class="start" href="/translator">{% if idiom == 'es' %} Comenzar {% elif idiom == 'en' %} Try {% endif %}</a></button>
    </body>
</html>